.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.loginBox{
    display: flex;
    flex-direction: column;
    height: 30rem;

    margin: 2rem 0 0 0;
    width: 300px;
}
.loginInputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
}

