.navbar {
    display: flex;
    justify-content: center;
    background: rgba(6, 5, 39, 0.062);

    .activeLink:hover {
        color: rgba(255, 9, 9, 0.568);

    }
}

.loggedNav {
    display: flex;
    flex-direction: column;

    .userHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding: 1rem;
    }
}

.navbar {
    .activeLink {

        margin: 1rem;
        text-decoration: none;
        color: #f0efee;
        font-size: 1.5rem;
        padding: 0.3rem;
        margin: 1rem;
        transition: color 0.3s, border-left 0.3s, border-right 0.3s;
    }
}


.navbar {
    .activeLink.active {

        color: rgb(10, 10, 10);
        border-left: 1px solid #494848;
        border-right: 1px solid #494848;
    }

}