.navbar {
    display: flex;
    justify-content: center;
    background: rgba(6, 5, 39, 0.062);

    a {
        margin: 1rem;
        text-decoration: none;
        color: #f0efee;
        font-size: 1.5rem;
        padding: 0.2rem;
    }

    a:hover {
        color: rgb(10, 10, 10);
        border-left: 1px solid #494848;
        border-right: 1px solid #494848;
    }

    a:active {
        color: rgb(10, 10, 10);
        border-left: 1px solid #494848;
        border-right: 1px solid #494848;
    }
}