.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .homeContent {
        text-align: center;
        max-width: 600px;
    }
}

.buttonsAuth {
    margin-top: 2rem;

    .register {
        margin-right: 1rem;
    }
}